<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="/static/js/friends.js" type="text/javascript" defer></script>

</head>
<body>
    <div id="studentListBox">
        <div layout:fragment="loginContent">
        <br><br><br>
        <span>
            <div th:data-requesterStudent="${student.getId()}" id="requesterStudent"></div>
            <div th:each="studentOf : ${studentList}">
                <div th:id="student + ${studentOf.getId()}">
                    <span>
                        <div th:text="${studentOf.getUsername()}">username</div>
                        <button th:attr="data-id=${studentOf.getId()}" class="requestButtons">Send friend request</button>
                    </span>
                </div>
            </div>
        </span>
    </div>
    </div>

</body>
</html>