<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <script src="static/js/unlockassignment.js" defer></script>

</head>
<body>
<div layout:fragment="loginContent">

    <h2 class="title" id="get-level" th:text="${question.getAssignmentTitle()}" th:attr="data-level=${question.getLevel()}">Title</h2>
    <h4 class="description assignment" id="get-id" th:attr="data-quizid=${question.getId()}" th:utext="${question.getQuestion()}"> Description</h4><br><br><br>
    <div class="description assignment" id="get-next" th:attr="data-next=${left}">
        <span class="form-group" th:each="answer,iterStat : ${question.getAnswers().keySet()}">
            <button th:attr="id=${question.getAnswers().get(answer)}" class="quiz_answers btn" type="submit" th:utext="${answer}"> Check solution </button>
        </span>
    </div>
    <div id="get-xp-change" th:attr="data-xpchange=${xpchange}"><a class="btn" href="/assignments">Back</a></div>
</div>
</body>
</html>