<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="layout.html :: head"></div>
    <script src="static/js/script.js" defer></script>

</head>
<body>
    <div th:replace="layout.html :: navbar"></div>
    <h2 class="title" th:text="${quiz.title}">Title</h2>
    <h4 class="description" th:text="${quiz.description}"> Description</h4>
    <form class="form-group" action="/" method="post" th:each="solution,iterStat : ${quiz.solutions}">
        <button th:attr="id='check_'+ ${solution}" type="submit" th:text="${solution}"> Check solution </button>
    </form>
</body>
</html>