<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <div th:replace="layout.html :: head"></div>

</head>
<body>
    <div th:replace="layout.html :: navbar"></div>
    <div class="welcome container">
        <img src="/static/welcome.png" alt="welcome">
        <div class="welcome message" th:text="'Hi ' + ${session.student.getFirstName()}">
        </div>
    </div>
    <div class="table table-hover">
        <table>
            <tbody>
            <tr class="card" th:attr="data-id=${course.id}">
                    <td><a href="/assignments" th:text="${course.name}">Name</a></td>
                    <td th:text="${course.description}">Description</td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>