body {
    background-image: url("/static/bcg.jpg");
    color: #6C6488;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 80%;
}

h1, h2, h4, h5, .form-group {
    margin: 35px 0 0 35px;
    font-family: 'Gochi Hand', cursive;
}

h2.title {
    margin: 60px 0 0 35px;
}

h4.warning, p.warning {
    background-color: #6C6488;
    color: white;
    width: fit-content;
}

label, .nav-item, .btn, .navbar-brand {
    font-family: 'Gochi Hand', cursive;
    font-size: 20px;
}

.form-control {
    width: 50%;
}

img {
    position: absolute;
    width: 160px;
    height: 100px;
    margin: 100px 10px 50px 1150px;
}

.welcome.message {
    position: absolute;
    top: 127px;
    right: -255px;
    color: #6C6488;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 22px;
    font-family: 'Gochi Hand', cursive;
}

.welcome.container {
    position: relative;
}

.table {
    position: relative;
    display: block;
    padding:100px;
}

.navbar {
    height: 60px;
}

#input {
    display:inline;
}

#fillBox, #studentListBox, #loggedInStudent, #friendList {
    margin:150px;
}

#fillInId {
    display: none;
}

.greenback {
    background-color: #67ba46;
}

.redback {
    background-color: #6C6488;
}

.badge.badge-primary {
    background-color: #67ba46;
}

.badge.badge-info {
    background-color: #B6A19E;
}

.nav-link, a:active, a:hover, a:visited, a:link {
    color: #30415d;
}

.assignment.description {
    width: 60%;
}

.quiz_answers.btn {
    margin: 10px;
}

.profile-picture img, .certi-link , .profile-picture form , input#new-user-name, button#change-user-name, h4#name-form {
    position: relative;
    margin: 10px 50px 10px 50px !important;
}
#notification_element {
    color: red;
}
#notification_div {
    top: 14px;
    position: relative;
}
#notification_bell {
    text-decoration: none;
    cursor: pointer;
}
