<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <div th:replace="layout.html :: head"></div>
        <script src="static/js/script.js" defer></script>

    </head>
    <body>
        <div th:replace="layout.html :: navbar"></div>
        <h2 class="title" th:text="${kata.assignmentTitle}">Title</h2>
        <h4 class="description" th:text="${kata.question}"> Description</h4>
        <form class="form-group" th:attr="action='/kata?id='+${kata.getId()}" method="POST">
            <label for="submission">Submission</label>
            <input class="form-control" type="text" name="submission" id="submission" th:attr="value=${kata.getSubmission()}" required>
            <button type="submit">Submit a link to your repo!</button>
        </form>
    </body>
</html>