<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <div th:replace="layout.html :: head"></div>

</head>
<body>
    <div th:replace="layout.html :: navbar"></div>
    <div class="table table-hover">
        <table>
            <tbody>
            <tr><td>Quizzes</td></tr>
            <tr th:each="quiz,iterStat : ${quizQuestions}" class="card">
                <td><a th:href="@{/quiz(id=${quiz.getId()})}" th:text="${quiz.getAssignmentTitle()}">Name</a></td>
            </tr>
            <!--<tr>Katas</tr>
            <tr th:each="kata,iterStat : ${katas}" class="card" th:attr="data-id=${student.getLastQuiz()}">
                <td th:text="${kata.name}">Name</td>
            </tr>-->
            <tr><td>PA</td></tr>
            <tr th:each="pa,iterStat : ${paList}" class="card">
                <td><a th:href="@{/pa(id=${pa.getId()})}" th:text="${pa.getAssignmentTitle()}">Name</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>