<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <div th:replace="layout.html :: head"></div>

</head>
<body>
    <div th:replace="layout.html :: navbar"></div>
    <div class="table table-hover">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <h4>Quizzes</h4>
            </li>
            <div th:each="quiz,iterStat : ${quizQuestions}">
                <a class="dropdown-item" th:href="@{/quiz(id=${quiz.getId()})}" th:text="${quiz.getAssignmentTitle()}">Name</a>
            </div>
            <li class="nav-item">
                <h4>Katas</h4>
            </li>
            <div th:each="kata,iterStat : ${kataList}">
                <a class="dropdown-item disabled"  th:href="#" data-link="@{/kata(id=${kata.getId()})}" th:text="${kata.getAssignmentTitle()}" aria-disabled="true">Name</a>
            </div>
            <li class="nav-item">
                <h4>PAs</h4>
            </li>
            <div th:each="pa,iterStat : ${paList}">
                <a class="dropdown-item"  th:href="@{/pa(id=${pa.getId()})}" th:text="${pa.getAssignmentTitle()}">Name</a>
            </div>
        </ul>
    </div>
</body>
</html>