<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

</head>
<body>
    <div layout:fragment="loginContent">
    <div class="table table-hover">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="dropdown-item" href="/quiz-start">Take a quiz!</a>
            </li>
            <!--<div th:each="quiz,iterStat : ${quizQuestions}">
                <a class="dropdown-item" th:href="@{/quiz(id=${quiz.getId()})}" th:text="${quiz.getAssignmentTitle()}">Name</a>
            </div>-->
            <li class="nav-item">
                <h4>Katas</h4>
            </li>
            <div th:each="kata,iterStat : ${kataList}">
                <a class="dropdown-item"  th:href="'/kata/'+${kata.getId()}" th:text="${kata.getAssignmentTitle()}">Name</a>
            </div>
            <li class="nav-item">
                <h4>PAs</h4>
            </li>
            <div th:each="pa,iterStat : ${paList}">
                <a class="dropdown-item"  th:href="'/pa/'+${pa.getId()}" th:text="${pa.getAssignmentTitle()}">Name</a>
            </div>
        </ul>
    </div>
    </div>
</body>
</html>