<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <div th:replace="layout.html :: head"></div>

</head>
<body>
<div th:replace="layout.html :: navbar"></div>
<div class="container">
    <br><br><br>
    <div th:text="'First name: ' + ${student.getFirstName()}"></div>
    <div th:text="'Last name: ' + ${student.getLastName()}"></div>
    <div th:text="'Certificate date of issue: ' + ${certificate.getIssueDate()}"></div>
</div>

</body>
</html>