<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <div th:replace="layout.html :: head"></div>

</head>
<body>
<div th:replace="layout.html :: navbar"></div>
<br><br><br>
<div>
    <div class="profile-picture">
        <img th:attr="src=${student.getImage()}" alt="image">
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="certi-link">
        <a href="/profile/certificate">Certificate</a>
    </div>
</div>

</body>
</html>