<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <div th:replace="layout.html :: head"></div>
</head>
<body>

    <div th:replace="layout.html :: navbar"></div>
    <div id="fillBox">
        <form action="/fill" method="POST">
            <div th:text="${fill.getAssignmentTitle()}"></div>
            <div th:utext="${fill.getQuestion()}"></div>
            <button type="submit" id="submit">Ok</button>
        </form>
    </div>


</body>
</html>