<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layout"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="static/js/unlockassignment.js" defer></script>

</head>
<body>
    <div layout:fragment="loginContent">
        <h2 class="title" th:text="${pa.assignmentTitle}">Title</h2>
        <h4 class="description assignment" th:text="${pa.question}"> Description</h4>
        <form class="form-group" th:action="'/pa/' + ${pa.id}" method="POST">
            <label for="submission">Submission</label>
            <input class="form-control" type="text" name="submission" id="submission" required>
            <button type="submit">Submit a link to your repo!</button>
        </form>
    </div>
</body>
</html>