<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <div th:replace="layout.html :: head"></div>
    <script src="static/js/unlockassignment.js" defer></script>

</head>
<body>
<div th:replace="layout.html :: navbar"></div>
<h2 class="title" th:text="${question.getAssignmentTitle()}">Title</h2>
<h4 class="description" th:text="${question.getQuestion()}"> Description</h4>
<form class="form-group" th:attr="action='/pa?id='+${question.getId()}" method="POST">
    <label for="submission">Submission</label>
    <input class="form-control" type="text" name="submission" id="submission">
    <button type="submit">Submit a link to your repo!</button>
</form>
</body>
</html>